body {
    font-family: sans-serif;
    background-color: black;
}

.logo {
    width: 150px;
    height: 100px;
}

header {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.navi {
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.navi a {
    margin: 12%;
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}

main h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

main img {
    height: 120px;
    width: 200px;
}

footer {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

header a:hover {
    background-color: black;
    color: white;
}

nav a:hover {
    color: purple;
}

.text-logo {
    font-size: 50px;
    color: black;
    text-align: center;
    margin-left: 28%;
}

.navi a {
    color: black;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
} 

.post-img {
    width: 400px;
    height: 300px;
}

.article-but:focus {
    background-color: white;
    color: black;
    border: 3px solid black;
}

nav a:focus {
    color: blue;
}

footer {
    color: black;
    font-size: 25px;
}
